@model IEnumerable<OrderDetails>
@{
    ViewData["Title"] = "Đơn hàng";
    float totalall = 0;
}
<h3>Order Detail</h3>
<table class="table" id="detail_order">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Name Product</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            totalall += @item.Total;
            <tr>    
                <input type="hidden" asp-for="@item.OrderCode" class="getId"/>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.Product.Name</td>
                <td>@Html.Raw(@item.Product.Description)</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@item.Total</td>
            </tr>
        }
        <tr>
            <td>Option</td>
            <td>
                <select class="form-control select-update-order">
                    <option value="1">Đơn hàng mới</option>
                    <option value="0">Đã xử lý</option>
                </select>
            </td>           
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>@totalall.ToString()</td>  
        </tr>
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val();
                var ordercode = $('.getId').val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode },

                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Cập nhật thành công");
                        }
                    }
                });
            });
        });
    </script>
    <script>
        new DataTable('#detail_order', {
            layout: {
                topStart: {
                    buttons: ['print']
                }
            }
        });
    </script>
}